
body {
	background-color: #dfb8a8;
	display: flex;
	justify-content: center;
}

.backgroundimage {
	position: relative;
	height: 500px;
	width: 1000px;
	text-align: center;
}


.textbox {
	color: #4f322d;
	background-color: #ad7753;
	font-size: 20px;
	font-family: "bomboniere", sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	word-spacing: -2px;
	font-weight: thin;
	width: 30ch;
	padding: 25px;
	border-radius: 20%;
	box-shadow: inset 0px 0px 3px 15px #4f322d;
}

.list {
	color: #f5ebbe;
	font-size: 25px;
	font-family: "bomboniere", sans-serif;
	text-align: left;
	word-spacing: 0px;
	font-weight: thin;
	width: 20ch;
	padding: 10px;
}

div {
	background-color: #ad7753;
	max-width: 1100px;
	color: #f5ebbe;
	font-size: 25px;
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-indent: px;
	text-align: justify;
	word-spacing: -2px;
	font-weight: thin;
	padding: 20px;
}

.container {
	width: 1000px;
	background-color: beige;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
	border: solid 2px;
	margin: 20px;
	justify-content: center;

}


h1{
	font-family: "bomboniere", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 60px;
	color: #a71829;
	text-align: center;
	letter-spacing: -2px;
	line-height: 75px;
	position: absolute;
	top: 20px;
	left: 150px;
	z-index: 5;
}

h2 {
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-size: 45px;
	color: #f5ebbe;
	text-align: center;
	letter-spacing: -2px;
	line-height: 75px;
	position: absolute;
	top: 350px;
	left: 375px;
}


h1:hover {
	color: darkred;
	font-size: 63px;

}

h2:hover {
	color: #dbbb8b;
	font-size: 48px;


}

a {
	font-family: "bomboniere", sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #4f322d;
	text-align: center;
}

.hairline {
	font-weight: 100;
	font-family: bomboniere-hairline, sans-serif;}

.thin {
	font-family: "bomboniere", sans-serif;
	font-weight: 100;}

.extralight {
	font-family: "bomboniere", sans-serif;
	font-weight: 200;}

.light {
	font-family: "bomboniere", sans-serif;
	font-weight: 300;}

.regular {
	font-family: "bomboniere", sans-serif;
	font-weight: 400;}

.medium {
	font-family: "bomboniere", sans-serif;
	font-weight: 500;}

.semibold {
	font-family: "bomboniere", sans-serif;
	font-weight: 600;}

.bold {
	font-family: "bomboniere", sans-serif;
	font-weight: 700;}

.extrabold {
	font-family: "bomboniere", sans-serif;
	font-weight: 800;}

.black {
	font-family: "bomboniere", sans-serif;
	font-weight: 900;}

#italic {font-style: italic;}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(17, 1fr);
  padding: 10px;
}

.grid div {
  background-color: #7c4f2d;
  box-shadow: inset -1px -3px 2px 5px #4f322d;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


#artist {
	font-family: "bomboniere", sans-serif;
	font-weight: 900;
}


img {
	width: 100%;
}

.backbottom {
	position: fixed; bottom;
}


/*---------animations-----------*/

#C {
	animation: bounce .5s infinite paused;
}
#C:hover{
	animation-play-state: running;
}
@keyframes bounce {
	0% {transform: translateY(0px);}
	50% {transform: translateY(-50px);}
	100% {transform: translateY(0px);}
}


#A {
	animation: spin 2s linear infinite paused; 
}
#A:hover {
	animation-play-state: running;
}
@keyframes spin {

	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}





